body{
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.all-columns{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left-column{
    width: 400px;
    align-items: center;
}
.left-column button{
    width: 400px;
   height: 40px;
}
.grupe-profesori-aule{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    height: 20px;
}

.grupe-profesori-aule button{
    color: white;
    background-color:#25975A;
    outline: none;
    border: 0;
    cursor: pointer;
}
.grupe-profesori-aule button.active{
    background: white;
    color: black;
}
.grupe-profesori-aule button:hover{
    background: white;
    color: black;
}
.right-column{
    justify-content: space-around;
}
.container_logo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.grid-table-left{
    border-color: black;
    display: grid;
    background-color: white;
    justify-content: space-between;
    color: black;
    grid-template-columns: 105px 42px 42px 42px 42px 42px 42px 42px;
}
.grid-table-left div {
    padding: 3px; /* Margini interne ale tabelului */
    border: 1px solid #ddd; /* Graniță între celule */
    text-align: center;
    
}
.header1{
    background-color: #25975A;
    color: white;
}
.header{
    background-color: white;
    color: white;
}
.tabela2{
    color: black;
    background-color: white;
    display: grid;
    grid-template-columns: 125px 400px;
    border: 1px solid #ddd;
    
}
.tabela2-rindu1{
    justify-content: space-between;
    text-align: center;  
    background-color: #25975A ;
    color: white;
    border: 1px solid #ddd;
    
}
.tabela2-rindu2{
    justify-content: space-between;
    text-align: center;  
    
}
.header3{
    background-color: rgb(163, 241, 188);
    color: white;
}
.header4{
    background-color: rgb(242, 214, 248);
    color: white;
}