body{
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.all-columns{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left-column{
    width: 400px;
    align-items: center;
}
.left-column button{
    width: 400px;
   height: 40px;
}
.grupe-profesori-aule{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    height: 20px;
}

.grupe-profesori-aule button{
    color: white;
    background-color:green;
    outline: none;
    border: 0;
    cursor: pointer;
}
.grupe-profesori-aule button.active{
    background: white;
    color: black;
}
.grupe-profesori-aule button:hover{
    background: white;
    color: black;
}
.right-column{
    justify-content: space-around;
}
.container_logo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.grid-table-left{
    border-color: black;
    display: grid;
    background-color: white;
    justify-content: space-between;
   
    color: black;
    grid-template-columns: 105px 42px 42px 42px 42px 42px 42px 42px;
}
.grid-table-left div {
    padding: 10px;
    border: 1px solid #ddd; /* Graniță între celule */
    text-align: center;
    
}
.header1{
    background-color: green;
    color: white;
}
.header{
    background-color: blue;
}